# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Next.js dependencies and build folders
/node_modules
/.next/
/out/
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Android project ignores
*.iml
.gradle
/local.properties
local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.mp4